


input{
    width: 100%;
    padding: 10px;
    margin: 5px 0 20px 0;
    border: none;   
    border-radius: 5px;
    background: #f1f1f1;
    font-size: 30px;
    font-family: "Josefin Slab", serif;
    font-style: large;
    font-weight: 400;
    color: #f30a0a;  
}